body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: cornflowerblue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    display: flex;
}

nav {
    background-color: antiquewhite;
}

article{
    color:aqua;
}

section {
    background-color: blueviolet;
}

aside {
    display: flex;
}